.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.noti {
  position: absolute;
  top: 0;
  right: 40px;
  color: white;
}

.btn-success {
  border-color: white;
  color: white;
}

.btn-success:hover {
  border-color: white;
  color: white;
}